* {
    font-family: 'Anton', sans-serif;
}

nav {
    background: grey;
    color:white;
    text-align: center;
    font-size: larger;
    font-family: 'Anton', sans-serif;

}

.form-control {
    margin-left: -15px;
}
