* {
    font-family: 'Anton', sans-serif;
}

nav {
    background: grey;
    color:white;
    text-align: center;
    font-size: larger;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;

}

#search-button {
    border-radius: 5px;
    background-color: blue;
    color: white;
}


#forecast {
    float: right;
    border: solid black 5px;
}

.button {
    border-radius: 5px;
    border: solid grey 2px;
    height: 50px;
    width: 200px;
    margin-top: 5px;
    color:black;
    padding-left: 25px;
    padding-top: 10px;
}



.button:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}