* {
    font-family: 'Anton', sans-serif;
}

nav {
    background: grey;
    color:white;
    text-align: center;
    font-size: larger;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;

}

#city-search {
    border-radius: 5px;
    background-color: blue;
    color: white;
}


#forecast {
    float: right;
    border: solid black 5px;
}